# PCextreme Software Repository for Ubuntu {{ ansible_distribution_release }}
deb http://packages.pcextreme.nl/ubuntu {{ ansible_distribution_release | lower }}{{ ' main' if repo_pcextreme_main else '' }}{{ ' updates' if repo_pcextreme_updates else '' }}{{ ' testing' if repo_pcextreme_testing else '' }}
